/* baixamos mais 5% a div#main-container em relação ao topo */
#main-container {
    margin-top: 65px;
}
/* container com as informações do usuário e o botão de editar */
#profile-owner-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    box-sizing: border-box;
}
/* container com a imagem e o nome do usuário */
#profile-image-username-container {
    display: flex;
    align-items: flex-start;
}
/* container da imagem do usuário */
#main-profile-image {
    width: 140px;
    height: 134px;
    position: relative;
    top: -70px;
    border: 4px solid #fff;
    border-radius: 89px;
    overflow: hidden;
    box-shadow: 0px 9px 2px rgba(0, 0, 0, .2);
}
#main-profile-image img {
    width: 100%;
}
/* container com o nome de usuário e o email */
#username {
    margin-left: 42px;
}
#username h1 {
    font-size: 23pt;
    margin: 0;
    padding: 0;
}
#username h3 {
    color: #C4C4C4;
    margin: 0;
    padding: 0;
}
.section-title {
    padding: 0 30px;
}
.section-title small {
    color: #C4C4C4;
}
#book-destaques-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 142px);
    grid-gap: 0 42px;
    flex-wrap: wrap;
}
#books-container {
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 140px);
    grid-gap: 19px 5.6%;
}
#books-container, #book-destaques-container {
    width: 100%;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
}


.book-destaque {
    width: 182px;
    height: 319px;
    /* border: 1px solid; */
    margin-right: 87px;
}

.books-cover-destaque {
    width: 162px;
    height: 238px;
}

.book-destaque a {
    font-size: medium;
}

.book {
    width: 140px;
    height: 263px;
}

.books-cover {
    width: 140px;
    height: 204px;
}

.book, .book-destaque {
    box-sizing: border-box;
    overflow: hidden;
}

.books-cover, .books-cover-destaque {
    overflow: hidden;
}

.books-cover img, .books-cover-destaque img {
    width: 100%;
}

.book a, .book-destaque a {
    color: #1f1f1f;
}

@media only screen and (max-width:599px) {
    #profile-owner-info {
        flex-direction: column;
        align-items: center;
    }
    #profile-image-username-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .title {
        text-align: center;
    }
}
@media only screen and (max-width:391px) {
    #books-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}